*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
}
nav{
    
    display: flex;
     width: 75%;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
}
nav img{
    width: 100px;
    height: 70px;
}
.color{
    color: rgb(233, 90, 8);
}
.span{
    color: rgb(137, 135, 161);
}
nav ul{
    display: flex;
    gap: 20px;
}
nav ul span{
    display: flex;
    gap: 20px;
}
nav ul li{
    list-style: none;
    font-size: 20px;
    color: rgb(37, 36, 50);
}
.banner{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    padding-top: 106px;

}
.banner-article{
    margin-top: 59px;
    width: 50%;
}
.banner-article h1{
    margin-top: 59px;
    font-size: 56px;
    font-weight: 700px;
    color: rgb(0, 0, 0);
}
.banner-article p{
    font-size: 22px;
    font-weight: 400px;
    color:rgb(137, 135, 161);
}
.banner-img{
   height: 355px;
   width: 50%;
}
.banner-img img{
   height: 355px;
   width: 100%;
}
.plants{
    width: 75%;
    margin: 13px auto;
    text-align: center;
}
.plants-article h2{
    font-weight: 700px;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.plants-article p{
    font-weight: 400px;
    font-size: 22px;
     color:rgb(137, 135, 161);
     margin-top: 16px;
     margin-bottom: 49px;
}
.plants{
    width: 75%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 130px;
}
.plants-card{
    width: 300px;
    margin-bottom: 20px;
}
.plants-card img{
    width: 100%;
}
.p{
    font-weight: 700px;
    color: rgb(17, 17, 17);
}
.btn{
    padding: 10px 20px;
    background-color: rgb(233, 90, 8);
    border: none;
    font-weight: 600px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 10px;
}

.plants-card p{
    font-size: 22px;
    font-weight: 300px;
    color: rgb(48, 48, 48);
    line-height: 40px;
}
.card{
    /* width: 100%; */
    gap: 20px;
    display: grid;
    grid-row: center;
    grid-template-columns: repeat(4, 1fr);
}
.join{
    background-image: url("./assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 50px auto;
    height: 533px;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
}
.join .join-1{
    position: absolute;
    top: 53%;
    left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   align-items: center;
   justify-content: center; 
   margin: 50px auto;
}
.join h2{
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
    font-size: 50px;
   font-weight: 700px;
   color: rgb(255, 255, 255);
}
.join button{

    padding: 10px 25px;
    border: 1px solid #ff5722;
    background-color: #ff5722;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.join input{
    padding: 10px 20px;
    flex: 1;
    border: 1px solid #ccc;
    border-right: none;
    font-size: 16px;
    max-width: 600px;
}
footer{
    display: flex;
    justify-content: space-around;
    margin: 100px 200px;
}
footer p{
     color:rgb(137, 135, 161);
     font-size: 22px;
     font-weight: 400px;
     margin-top: 20px;
}
.ul li{
    list-style: none;
    line-height: 60px;
     color:rgb(137, 135, 161);
}
.img img{
    width: 36px;
    height: 36px;
    margin: 0 20px;
}

@media screen and (max-width: 1200px) {
    nav ul span{
    display: flex;
    gap: 20px;
}
.banner-img{
   height: 355px;
   width: 100%;
}
.banner{
    width: 100%;
}
.banner-article{
   margin-left: 50px;
}
}

@media screen and (max-width: 658px) {
    nav ul span{
    display: none;
}
.banner{
    flex-direction: column-reverse;
}
.banner-img{
   width: 100%;
}
.banner-article{
    margin-top: 0px;
    width: 90%;
}
.plants-card{
    width: 100%;
}
.card{
    grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
}
.join .join-1{
    margin-top: 50px;
    width: 450px;
}
.join h2{
    width: 90%;
    font-size: 35px;
}
footer{
    flex-direction: column;
    margin: 50px 30px;
}
.img img{
    margin-left: 0px;
}
}